{% extends 'zkbase.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stimulus.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 20px; font-weight: bold;">Q{{index}}. What is returned by the following function given the input <span style="font-family: 'Courier New', monospace; font-weight: bold;">{5,2,6,8,5,7,12,41,6,4,1,5,3,7} and 5</span>?</h1>

    <div class="question">
        <pre style="font-family: 'Courier New', monospace; font-size: 17px;">
        bool afunc(const std::vector<int>& numbers, int target) {
            int count = 0;
            for (int num : numbers) {
                if (num == target) {
                    count++;
                    if (count == 3) {
                        return true;
                    }
                }
            }
            return false;
        }               
        </pre>
    </div>

        <form action="{{ url_for('stimulus', index=index) }}" method="POST">
            <label for="choice1">
                <input type="radio" id="choice1" name="choice" value="1">
                True
            </label>
            <br>
            <label for="choice2">
                <input type="radio" id="choice2" name="choice" value="2">
                False
            </label>
            <br>
            <label for="choice3">
                <input type="radio" id="choice3" name="choice" value="3">
                Error
            </label>
            <br>
            <label for="choice4">
                <input type="radio" id="choice4" name="choice" value="4">
                None of above
            </label>
            <br>

            <input type="submit" value="Next" onclick="return validateForm()">
        </form>


        <script>
            function validateForm() {
                var options = document.getElementsByName("choice");
                for (var i = 0; i < options.length; i++) {
                    if (options[i].checked) {
                        return true; // Proceed to the next stimulus page
                    }
                }
                alert("Please select an answer.");
               return false; // Prevent form submission
            }
        </script>

    </div>
{% endblock %}

